<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles%}
{{super()}}
<link rel="stylesheet" href="../static/index.css">
{% endblock %}

{% block content%}
<div class="row">
    <div class="col-md-4">
        <p></p>
    </div>
    <div class="col-md-4">
            <div class="card" style="left: 50%;top: 50%; transform: translate(-50%, -50%);">
                    <form class="form-group" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                                {{form.hidden_tag()}}
                                <!-- add new -->
                                <h5 class="card-header">{{form.title.label}}</h5>
                                {{form.title(class = "form-control")}}
                        </div>
                       
                        <div class="card-footer text-muted">
                                {{form.submit(class = "btn btn-primary")}}
                        </div>
                       
                    </form>
                </div>
    </div>
    <div class="col-md-4">
        <p></p>
    </div>

</div>

{% endblock%}